# //reminder to add version for packages
fastapi
uvicorn
httpx
python-dotenv
openai
streamlit
pydantic
requests
aiohttp
cryptography
pytest-asyncio
zxcvbn
responder
pytest
pyarrow
pydantic_settings
typesystem
typer
rich
jinja2
playwright
browser-use
html2text
duckduckgo-search
GitPython
plotly

